* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color-main: #212529;
  --max-map-width: 95vw;
  --max-map-height: 95vh;
  background-color: var(--background-color-main);
}